<!DOCTYPE html>
<html>
    <head>
        <title>
            Django's Girls blog
        </title>
    </head>
    <body>
        <header>
            <h1>
                <a href="/">
                    Django Girls Blog
                </a>
            </h1>
        </header>
        {% for post in posts %}
            {{post}}
            <p>
                DUAR <br>
            </p>
        {% endfor %}

        {% for post in posts %}
            <article>
                <time>
                    published: {{post.published_date}}
                </time>
                <h2>
                    <a href="">
                        {{post.title}}
                    </a>
                </h2>
                <p>
                    {{post.text|linebreaksbr}}
                </p>
            </article>
        {% endfor %}
<!-- 
        <article>
            <h2>
                <a href="">
                    Last Article if shown
                </a>
            </h2>
        </article> -->
    </body>
</html>